.container {
        padding: 0 40px;
}

.return {
        padding: 0 20px 0 10px;
        display: inline-flex;
        color: #000;
        background-color: rgb(223, 223, 223);
        border: 1px solid rgb(11, 160, 160);
        border-radius: 20px;
}

.svg {
        display: inline-block;
        width: 20px;
        margin-right: 5px;
}

.return:hover,
.return:active {
        color: #000;
        background-color: rgb(11, 160, 160);
}

.info {
        margin-top: 3px;
}

.description {
        display: flex;
}

.poster {
        border-radius: 6px;
        width: 300px;
        height: 100%;
        margin-right: 40px;
}

.name {
        color: rgb(11, 160, 160);
        padding-bottom: 30px;
}

.text {
        margin-bottom: 30px;
}

.addinfo {
        margin-top: 30px;
        text-align: center;
        margin-bottom: 15px;
}

.infolist {
        display: flex;
        justify-content: center;
}

.infolist li:first-child {
        margin-right: 30px;
}
